<h1>Blackjack</h1>

<% if @hide_dealer_card == true %>

  <h3>Welcome, <%= session[:player_name]%>, you have chosen to bet $<%=session[:bet] %>.</h3>

  <div class="well" id="dealer">
    <h4>Dealer cards:</h4>
    <img src="/images/cards/cover.jpg" border="0" style="margin-right:10px" />
      <%= display_card(session[:dealer_cards][1]) %>
  </div>

<% elsif @hide_dealer_card == false %> 

  <% if @show_dealer_option == true %>

    <h3>Now it's the dealer's turn. Dealer's total is <%= total(session[:dealer_cards]) %>. Deal a card?</h3>

    <form action="/dealer/hit" method="POST">
      <input type="submit" value="Deal" class="btn btn-success btn-large">
    </form>

  <% end %>
  

  <div class="well" id="dealer">
    <h4>Dealer cards:</h4>
      <% session[:dealer_cards].each do |card| %>
        <%= display_card(card) %>
      <% end %>
  </div>

<% end %>

<div class="well" id="player">
  <h4>Player cards:</h4>
  <% session[:player_cards].each do |card| %>
    <%= display_card(card) %>
  <% end %>
</div>

<% if @show_buttons == true %>
  
  <h3><%= session[:player_name] %> has <%= total(session[:player_cards]) %>. Hit or stay?</h3>
  <form id="hit" action="/player/hit" method="POST">
    <input type="submit" value="Hit" class="btn btn-success btn-large">
  </form>
  <form id="stay" action="/player/stay" method="POST">
    <input type="submit" value="Stay" class="btn btn-warning btn-large">
  </form>

<% end %>


